{% extends "base.html" %}


{% block body %}


<div class="container">

    <div class="row">
        <h1 class=" w-100 text-center" > Ajouter un Article </h1>

        <form method="POST" action="" class="border border-info w-50 mx-auto">
    {{ form.csrf_token }}

    <div class="form-group">
            {{ form.title.label }} {{ form.title(class="form-control") }}

        </div>

                <div class="form-group">

     {{ form.body.label }} {{ form.body(class="form-control") }}

</div>

    <div class="form-group">

      {{ form.submit(class="btn btn-info btn-lg btn-block") }}

    </div>

</form>

    </div>
</div>

{% endblock %}