{% extends "base.html" %}


{% block body %}


<div class="container">

    <div class="row">
        <h1 class="w-100 text-left"> {{post.title}} </h1>

        <p class=" w-100"> Publié le {{post.created_at.strftime('%d-%m-%Y')}}</p>

        <p class="w-100">{{post.body}}</p>

        <a class="btn btn-primary" href="{{url_for('main.hello')}}" role="button">Retour à la page d'accueil</a>

    </div>
</div>

{% endblock %}